<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Update Data Source with your SQL Server instance name -->
    <add name="MedicalDB" connectionString="Data Source=DESKTOP-11347275\SQLEXPRESS)..;Initial Catalog=MedicalDB;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
 

